In [ ]:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json

In [43]:
url = 'https://data.cdc.gov/resource/4ueh-89p9.json?$query=SELECT%0A%20%20%60data_as_of%60%2C%0A%20%20%60year%60%2C%0A%20%20%60education_level%60%2C%0A%20%20%60race_or_hispanic_origin%60%2C%0A%20%20%60sex%60%2C%0A%20%20%60age_group%60%2C%0A%20%20%60total_deaths%60%2C%0A%20%20%60covid_19_deaths%60'
r = requests.get(url)
#r.status_code

data = r.json()
#df = pd.DataFrame(data).drop("covid_19_deaths", axis=1)
df = pd.DataFrame(data)
df.head()

,data_as_of,year,education_level,race_or_hispanic_origin,sex,age_group,total_deaths,covid_19_deaths
0,2021-12-01T00:00:00.000,2019,High school graduate/GED or less,Hispanic,Female,0-24 years,3733,0
1,2021-12-01T00:00:00.000,2019,High school graduate/GED or less,Hispanic,Female,25-39 years,2534,0
2,2021-12-01T00:00:00.000,2019,High school graduate/GED or less,Hispanic,Female,40-54 years,5677,0
3,2021-12-01T00:00:00.000,2019,High school graduate/GED or less,Hispanic,Female,55-64 years,7769,0
4,2021-12-01T00:00:00.000,2019,High school graduate/GED or less,Hispanic,Female,65-74 years,11702,0

In [48]:
#print(type(df['age_group'][0]))
df['total_deaths'] = pd.to_numeric(df['total_deaths'])
df['covid_19_deaths'] = pd.to_numeric(df['covid_19_deaths'])
df['age_group'] = df['age_group'].str.replace(" years", "")

df = df.drop("data_as_of", axis=1)
#print(df['age_group'])
#print(df['age_group'][0].strip().replace("years",""))
df.head()

,year,education_level,race_or_hispanic_origin,sex,age_group,total_deaths,covid_19_deaths
0,2019,High school graduate/GED or less,Hispanic,Female,0-24,3733,0
1,2019,High school graduate/GED or less,Hispanic,Female,25-39,2534,0
2,2019,High school graduate/GED or less,Hispanic,Female,40-54,5677,0
3,2019,High school graduate/GED or less,Hispanic,Female,55-64,7769,0
4,2019,High school graduate/GED or less,Hispanic,Female,65-74,11702,0